* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

nav {
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 20px;
}

.card {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    border: 2px solid rgb(82, 3, 150);
    margin: 12px;
    border-radius: 12px;
}

img {
    max-width: 360px;
}

a:hover {
    transform: scale(1.05);
}

nav:hover {
    transform: scale(1.25);
}

button {
    background-color: green;
    color: white;
    transition: 1s;
}

button:hover {
    background-color: darkgray;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}


h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 24px;
}

p {
    font-weight: 1000;
}

th,
td {
    border: 1px solid black;
    padding: 2px;
}

thead {
    background-color: aqua;
}